body {
  background-color: $bg-body;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.product-img {
  max-height: 450px;
  object-fit: cover;
  border-radius: 20px;
}

.star-rating {
  font-size: 1.5rem;
  color: #ddd;
  cursor: pointer;
  display: inline-block;

  .fa-star {
    transition: color 0.2s ease;
    &.active {
      color: $main-color;
    }
  }
}

.comment-card {
  @include card-base; 
  border-right: 5px solid $main-color;
  margin-bottom: 15px;
}

.btn-submit {
  @include btn-style($gray-color, $white-color, 8px);

}