.contact-page {
  background-color: $yellow-color;

  .contact-info-card, .contact-form-card {
    border: none;
    @include hover-lift; 
    
    h4 {
      color: #222; 
      font-size: 1.25rem;
    }
  }

  .form-control, .form-select {
    @include input-base; 
  }

  .btn-warning {
    background-color: $yellow-color;
    border: none;
    transition: 0.3s;
    
    &:hover {
      background-color: darken($yellow-color, 10%);
    }
  }
}