.main-footer {
  border-top: 5px solid $yellow-color;

  .footer-title {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: 700;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 50px;
      height: 2px;
      background-color: $yellow-color;
    }
  }

  .footer-links {
    li {
      margin-bottom: 10px;
      a {
        color: #adb5;
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover {
          color: $yellow-color;
          padding-right: 10px;
        }
      }
    }
  }

  .social-links {
    .social-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      background-color: $gray-color;
      color: $white-color;
      border-radius: 50%;
      margin-left: 10px;
      text-decoration: none;
      
      @include hover-lift(-3px); 

      &:hover {
        background-color: $yellow-color;
        color: $black-color;
      }
    }
  }

  .form-control {
    background-color: $black-color;
    border: 1px solid #444;
    color: $white-color;
    
    &:focus {
      background-color: $gray-color;
      border-color: $yellow-color;
      box-shadow: none;
    }
  }
}

