// Existing variables
$yellow-color: #ffc107;
$gray-color: #333;
$white-color: white;
$black-color: #000;
$red-color: #ff4757;
$text-gray: #6c757d;
$bg-body: #fcfcfc;
$border-light: #f1f1f1;
$shadow-light: rgba(0, 0, 0, 0.05);

// Pizza Theme Backgrounds (New Variables)
$bg-margherita: #f65014; // Light Red
$bg-pepperoni: #fca015;  // Light Orange
$bg-veggie: #23ef59;     // Light Green
$bg-cheese: #ffdd00;     // Light Yellow
$bg-seafood: #258feb;    // Light Blue
$bg-default: #fcfcfc;    // Default White